################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/Treehouse.FitnessFrog/v15/Server/sqlite3/db.lock
/src/.vs/Treehouse.FitnessFrog/v15/Server
/src/.vs/Treehouse.FitnessFrog/v15/Server/sqlite3
/src/Treehouse.FitnessFrog/bin
/src/.vs
/src/Treehouse.FitnessFrog/obj/Debug
